<section class="no-bg-color-parallax parallax-black theme-section">
  <div
    class="bg-section"
    style="background-image: url(media/1920xp910/1.jpg)"
  ></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <h3 class="aligncenter text-uppercase">CONTACT US</h3>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>
</section>
<div class="page-header">
  <div class="container">
    <ol class="breadcrumb">
      <li style="color: #d74516">Home</li>
      <li class="active">CONTACT US</li>
    </ol>
  </div>
</div>
<main class="section" id="main">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div cldata-animation="fadeInLeft" class="animated">
          <h4>&nbsp;</h4>
          <p>
            We are Online Automotive Marketplace located in Delhi. We have our
            branches within all districts of India.
          </p>
          <p>
            Headoffice: <br />
            Plot 225 S/F, Pole No. 9, NH 10, Mundka, Delhi, 110041
            <i class="fa fa-map-marker"></i>
          </p>
        </div>
      </div>

      <div class="col-md-8">
        <div data-animation="fadeInRight" class="full-width-right animated ">
          <form
            novalidate
            id="contactForm"
            class="contactForm2"
            data-animation="bounceInUp"
            name="sentMessage animated"
          >
            <h4>SEND MESSAGE</h4>

            <div class="row">
              <div class="col-md-5">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <input
                        type="text"
                        data-validation-required-message="Please enter your name."
                        required
                        id="name"
                        placeholder="Your Name *"
                        class="form-control"
                      />
                      <p class="help-block text-danger"></p>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input
                        type="email"
                        data-validation-required-message="Please enter your email address."
                        required
                        id="email"
                        placeholder="Your Email *"
                        class="form-control"
                      />
                      <p class="help-block text-danger"></p>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input
                        type="tel"
                        data-validation-required-message="Please enter your phone number."
                        required
                        id="phone"
                        placeholder="Your Phone *"
                        class="form-control"
                      />
                      <p class="help-block text-danger"></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <div class="form-group form-group-text">
                  <textarea
                    data-validation-required-message="Please enter a message."
                    required
                    id="message"
                    placeholder="Your Message *"
                    class="form-control"
                  ></textarea>
                  <p class="help-block text-danger"></p>
                  <div id="success"></div>
                  <p class="text-right">
                    <button class="btn btn-primary btn-icon-right">
                      Send Message
                      <span class="btn-icon"
                        ><i class="fa fa-long-arrow-right"></i
                      ></span>
                    </button>
                  </p>
                </div>
              </div>
            </div>
          </form>

          <!--Contact form-->
          <script src="plugins/contact/jqBootstrapValidation.js"></script>
          <script src="plugins/contact/contact_me.js"></script>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- 
<div class="map">
  <iframe
    src="https://maps.google.com/?ie=UTF8&amp;ll=38.85682,-103.996582&amp;spn=7.304424,16.907959&amp;t=m&amp;z=7&amp;output=embed"
    class="iframe"
  ></iframe>
</div> -->
