<section class="no-bg-color-parallax parallax-black theme-section">
  <div
    class="bg-section"
    style="background-image: url('../../../assets/media/1920x910/1.jpg');"
  ></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <h3 class="aligncenter text-uppercase">About Us</h3>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>
</section>
<div class="page-header">
  <div class="container">
    <ol class="breadcrumb">
      <li style="color: #d74516">Home</li>
      <li class="active">about us</li>
    </ol>
  </div>
</div>
<main class="section" id="main">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="light-font">Why Choose us?</h2>
        <h1>SERVICES OFFERED</h1>
        <p>
          Phasellus odio. Sed fermentum feugiat quam. Suuspendisse lorem. Morbi
          commodo vulputate lorem. Vestbum ac diam et eros auctor viverra.
          Integer adc lorem sit amet est rhoncus dapi bus. Donec congue pede lu
          lacus. Morbi elit nunc molestie ultricspendisse lorem. Morbi commodo
          vulputate lorem. Vestbum ac diam et eros auctor viverra. Integer adc
          lorem sit amet est rhoncus dapi bus. Donec congue pede lu lacus. Morbi
          elit nunc molestie ultrices eu eleifend eu lorem. Mauris quis dolor
          Nulla frins gilla interdum metus. Vivamus elementum auctor augue.
        </p>
        <p>
          Pellentesque ullamcorper pulvinar arcu. Suspendisse vitae sapien eu mi
          placerat tincidunt. Donec tincidunt laoreet diam. Etiam blandit mauris
          vel semper consectetuer neque fusce in augue at ipsum eleifend
          elementum.
        </p>
        <ul class="list-style-check">
          <li>Engineered to high standards</li>
          <li>Assured high quality and dependability</li>
          <li class="li-last">Tested under extreme conditions</li>
        </ul>
        <a class="btn btn-primary btn-lg btn-icon-right"
          >WHAT CLIENTS SAID
          <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
        </a>
      </div>
      <div class="col-md-4">
        <ul
          class="carousel-4 bxslider"
          data-max-slides="1"
          data-width-slides="370"
          data-margin-slides="10"
          data-auto-slides="true"
          data-move-slides="1"
          data-infinite-slides="false"
        >
          <li>
            <div class="testi-box">
              <div class="person-text">
                <i class="icomoon-quote-left"></i>
                <div class="testi-title">
                  <h4>Better Than The Best !!!</h4>
                  <div class="product-rating">
                    <i class="fa fa-star gold"></i>
                    <i class="fa fa-star gold"></i>
                    <i class="fa fa-star gold"></i>
                    <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i>
                  </div>
                </div>
                <p>
                  Pharetra libero non facilisis imperdiet mi augue feugiat nisl
                  sit amet mollis enim velit Vestibulum fringilla nulla
                  ultricies sem. Maecenas ultrices faucibus felis.
                </p>
                <p>
                  Maecenas tincidunt. Proin porttitor lacus eget mi. Aenean at
                  mi. Mauris vulputate mi vitae lobortis. Pellentesque ac ipsum
                  vel massa imperdiet semper. In maurisd libero interdum quis
                  molestie.
                </p>
              </div>
              <div class="person-info">
                <div class="person-avatar">
                  <img
                    src="../../../assets/media/50x50/1.jpg"
                    width="50"
                    height="55"
                    alt="alt"
                  />
                </div>
                <div class="person-name">
                  <h5>LAURA WOOD</h5>
                  <p>Loyal Customer for 2 years</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="testi-box">
              <div class="person-text">
                <i class="icomoon-quote-left"></i>
                <div class="testi-title">
                  <h4>Better Than The Best !!!</h4>
                  <div class="product-rating">
                    <i class="fa fa-star gold"></i>
                    <i class="fa fa-star gold"></i>
                    <i class="fa fa-star gold"></i>
                    <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i>
                  </div>
                </div>
                <p>
                  Pharetra libero non facilisis imperdiet mi augue feugiat nisl
                  sit amet mollis enim velit Vestibulum fringilla nulla
                  ultricies sem. Maecenas ultrices faucibus felis.
                </p>
                <p>
                  Maecenas tincidunt. Proin porttitor lacus eget mi. Aenean at
                  mi. Mauris vulputate mi vitae lobortis. Pellentesque ac ipsum
                  vel massa imperdiet semper. In maurisd libero interdum quis
                  molestie.
                </p>
              </div>
              <div class="person-info">
                <div class="person-avatar">
                  <img
                    src="../../../assets/media/50x50/1.jpg"
                    width="50"
                    height="55"
                    alt="alt"
                  />
                </div>
                <div class="person-name">
                  <h5>LAURA WOOD</h5>
                  <p>Loyal Customer for 2 years</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="testi-box">
              <div class="person-text">
                <i class="icomoon-quote-left"></i>
                <div class="testi-title">
                  <h4>Better Than The Best !!!</h4>
                  <div class="product-rating">
                    <i class="fa fa-star gold"></i>
                    <i class="fa fa-star gold"></i>
                    <i class="fa fa-star gold"></i>
                    <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i>
                  </div>
                </div>
                <p>
                  Pharetra libero non facilisis imperdiet mi augue feugiat nisl
                  sit amet mollis enim velit Vestibulum fringilla nulla
                  ultricies sem. Maecenas ultrices faucibus felis.
                </p>
                <p>
                  Maecenas tincidunt. Proin porttitor lacus eget mi. Aenean at
                  mi. Mauris vulputate mi vitae lobortis. Pellentesque ac ipsum
                  vel massa imperdiet semper. In maurisd libero interdum quis
                  molestie.
                </p>
              </div>
              <div class="person-info">
                <div class="person-avatar">
                  <img
                    src="../../../assets/media/50x50/1.jpg"
                    width="50"
                    height="55"
                    alt="alt"
                  />
                </div>
                <div class="person-name">
                  <h5>LAURA WOOD</h5>
                  <p>Loyal Customer for 2 years</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <header
          data-animation="fadeInUp"
          class="section-header animated  animation-done fadeInUp"
        >
          <div class="icon-line"><i class="fa flaticon-user161 "></i></div>
          <div class="heading-wrap">
            <h2 class="heading"><span>All TESTIMONIALS</span></h2>
          </div>
        </header>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div
          class="testi-box box-testi-simple animated "
          data-animation="fadeInUp"
        >
          <div class="person-text">
            <i class="icomoon-quote-left"></i>
            <div class="testi-title">
              <h4>Better Than The Best !!!</h4>
              <div class="product-rating">
                <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i>
                <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i>
                <i class="fa fa-star-o"></i>
              </div>
            </div>
            <p>
              Pharetra libero non facilisis imperdiet mi augue feugiat nisl sit
              amet mollis enim velit Vestibulum fringilla nulla ultricies sem.
              Maecenas ultrices faucibus felis.
            </p>
            <p>
              Maecenas tincidunt. Proin porttitor lacus eget mi. Aenean at mi.
              Mauris vulputate mi vitae lobortis. Pellentesque ac ipsum vel
              massa imperdiet semper. In maurisd libero interdum quis molestie.
            </p>
          </div>
          <div class="person-info">
            <div class="person-avatar">
              <img
                width="50"
                height="55"
                alt="alt"
                src="../../../assets/media/50x50/1.jpg"
              />
            </div>
            <div class="person-name">
              <h5>LAURA WOOD</h5>
              <p>Loyal Customer for 2 years</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="testi-box box-testi-simple animated "
          data-animation="fadeInUp"
        >
          <div class="person-text">
            <i class="icomoon-quote-left"></i>
            <div class="testi-title">
              <h4>Better Than The Best !!!</h4>
              <div class="product-rating">
                <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i>
                <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i>
                <i class="fa fa-star-o"></i>
              </div>
            </div>
            <p>
              Pharetra libero non facilisis imperdiet mi augue feugiat nisl sit
              amet mollis enim velit Vestibulum fringilla nulla ultricies sem.
              Maecenas ultrices faucibus felis.
            </p>
            <p>
              Maecenas tincidunt. Proin porttitor lacus eget mi. Aenean at mi.
              Mauris vulputate mi vitae lobortis. Pellentesque ac ipsum vel
              massa imperdiet semper. In maurisd libero interdum quis molestie.
            </p>
          </div>
          <div class="person-info">
            <div class="person-avatar">
              <img
                width="50"
                height="55"
                alt="alt"
                src="../../../assets/media/50x50/1.jpg"
              />
            </div>
            <div class="person-name">
              <h5>LAURA WOOD</h5>
              <p>Loyal Customer for 2 years</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="testi-box box-testi-simple animated "
          data-animation="fadeInUp"
        >
          <div class="person-text">
            <i class="icomoon-quote-left"></i>
            <div class="testi-title">
              <h4>Better Than The Best !!!</h4>
              <div class="product-rating">
                <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i>
                <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i>
                <i class="fa fa-star-o"></i>
              </div>
            </div>
            <p>
              Pharetra libero non facilisis imperdiet mi augue feugiat nisl sit
              amet mollis enim velit Vestibulum fringilla nulla ultricies sem.
              Maecenas ultrices faucibus felis.
            </p>
            <p>
              Maecenas tincidunt. Proin porttitor lacus eget mi. Aenean at mi.
              Mauris vulputate mi vitae lobortis. Pellentesque ac ipsum vel
              massa imperdiet semper. In maurisd libero interdum quis molestie.
            </p>
          </div>
          <div class="person-info">
            <div class="person-avatar">
              <img
                width="50"
                height="55"
                alt="alt"
                src="../../../assets/media/50x50/1.jpg"
              />
            </div>
            <div class="person-name">
              <h5>LAURA WOOD</h5>
              <p>Loyal Customer for 2 years</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div
          class="testi-box box-testi-simple animated "
          data-animation="fadeInUp"
        >
          <div class="person-text">
            <i class="icomoon-quote-left"></i>
            <div class="testi-title">
              <h4>Better Than The Best !!!</h4>
              <div class="product-rating">
                <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i>
                <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i>
                <i class="fa fa-star-o"></i>
              </div>
            </div>
            <p>
              Pharetra libero non facilisis imperdiet mi augue feugiat nisl sit
              amet mollis enim velit Vestibulum fringilla nulla ultricies sem.
              Maecenas ultrices faucibus felis.
            </p>
            <p>
              Maecenas tincidunt. Proin porttitor lacus eget mi. Aenean at mi.
              Mauris vulputate mi vitae lobortis. Pellentesque ac ipsum vel
              massa imperdiet semper. In maurisd libero interdum quis molestie.
            </p>
          </div>
          <div class="person-info">
            <div class="person-avatar">
              <img
                width="50"
                height="55"
                alt="alt"
                src="../../../assets/media/50x50/1.jpg"
              />
            </div>
            <div class="person-name">
              <h5>LAURA WOOD</h5>
              <p>Loyal Customer for 2 years</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="testi-box box-testi-simple animated "
          data-animation="fadeInUp"
        >
          <div class="person-text">
            <i class="icomoon-quote-left"></i>
            <div class="testi-title">
              <h4>Better Than The Best !!!</h4>
              <div class="product-rating">
                <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i>
                <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i>
                <i class="fa fa-star-o"></i>
              </div>
            </div>
            <p>
              Pharetra libero non facilisis imperdiet mi augue feugiat nisl sit
              amet mollis enim velit Vestibulum fringilla nulla ultricies sem.
              Maecenas ultrices faucibus felis.
            </p>
            <p>
              Maecenas tincidunt. Proin porttitor lacus eget mi. Aenean at mi.
              Mauris vulputate mi vitae lobortis. Pellentesque ac ipsum vel
              massa imperdiet semper. In maurisd libero interdum quis molestie.
            </p>
          </div>
          <div class="person-info">
            <div class="person-avatar">
              <img
                width="50"
                height="55"
                alt="alt"
                src="../../../assets/media/50x50/1.jpg"
              />
            </div>
            <div class="person-name">
              <h5>LAURA WOOD</h5>
              <p>Loyal Customer for 2 years</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="testi-box box-testi-simple animated "
          data-animation="fadeInUp"
        >
          <div class="person-text">
            <i class="icomoon-quote-left"></i>
            <div class="testi-title">
              <h4>Better Than The Best !!!</h4>
              <div class="product-rating">
                <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i>
                <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i>
                <i class="fa fa-star-o"></i>
              </div>
            </div>
            <p>
              Pharetra libero non facilisis imperdiet mi augue feugiat nisl sit
              amet mollis enim velit Vestibulum fringilla nulla ultricies sem.
              Maecenas ultrices faucibus felis.
            </p>
            <p>
              Maecenas tincidunt. Proin porttitor lacus eget mi. Aenean at mi.
              Mauris vulputate mi vitae lobortis. Pellentesque ac ipsum vel
              massa imperdiet semper. In maurisd libero interdum quis molestie.
            </p>
          </div>
          <div class="person-info">
            <div class="person-avatar">
              <img
                width="50"
                height="55"
                alt="alt"
                src="../../../assets/media/50x50/1.jpg"
              />
            </div>
            <div class="person-name">
              <h5>LAURA WOOD</h5>
              <p>Loyal Customer for 2 years</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<section class="home-section contact-section section-preset3 ">
  <app-newsletter></app-newsletter>
</section>
