<div id="iview">
  <div
    data-iview:thumbnail="../../../assets/media/slider/1.jpg"
    data-iview:image="../../../assets/media/slider/1.jpg"
    data-iview:transition="block-drop-random"
  >
    <div class="container">
      <div
        class="iview-caption text-center bg-no-caption"
        data-x="280"
        data-y="180"
        data-transition="expandUp"
      >
        <h3 class="light-font">YOUR VEHICLE IS</h3>
        <h2>SAVE IN OUR HANDS</h2>
        <p>&nbsp;</p>
        <p>
          Etiam vitae lectus fusce scelerisque ligula sit amet urna donec felis
          maecenas<br />
          commodo. Integer sollicitudin nunc urna suspendisse.
        </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <a href="#tabs-section" class="btn btn-primary btn-lg btn-icon-right"
          >LEARN MORE
          <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
        </a>
      </div>
    </div>
  </div>
  <div
    data-iview:thumbnail="../../../assets/media/slider/2.jpg"
    data-iview:image="../../../assets/media/slider/2.jpg"
    data-iview:transition="block-drop-random"
  >
    <div class="container">
      <div
        class="iview-caption text-center bg-no-caption"
        data-x="280"
        data-y="180"
        data-transition="expandUp"
      >
        <h3 class="light-font">YOUR VEHICLE IS</h3>
        <h2>SAVE IN OUR HANDS</h2>
        <p>&nbsp;</p>
        <p>
          Etiam vitae lectus fusce scelerisque ligula sit amet urna donec felis
          maecenas<br />
          commodo. Integer sollicitudin nunc urna suspendisse.
        </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <a href="#tabs-section" class="btn btn-primary btn-lg btn-icon-right"
          >LEARN MORE
          <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
        </a>
      </div>
    </div>
  </div>
</div>
<section id="tabs-section" class="home-section">
  <div class="container">
    <div class="ver-tabs ">
      <div class="row">
        <div class="col-md-5">
          <nav class="nav-sidebar">
            <ul class="nav tabs">
              <li class="active">
                <a href="#tab1" data-toggle="tab">
                  <div class="fa-box">
                    <i class="fa flaticon-vehicle34 "></i>
                  </div>
                  <div class="fa-content">
                    <h4>Modern Workshop</h4>
                    <p>
                      Nunc placerat pharetra lorem. Donec lorem metus lobortis
                      omag sed ipsum lacinia.
                    </p>
                  </div>
                </a>
              </li>
              <li class="">
                <a href="#tab2" data-toggle="tab">
                  <div class="fa-box"><i class="fa flaticon-worker18"></i></div>
                  <div class="fa-content">
                    <h4>Talented Workers</h4>
                    <p>
                      Nunc placerat pharetra lorem. Donec lorem metus lobortis
                      omag sed ipsum lacinia.
                    </p>
                  </div>
                </a>
              </li>
              <li class="">
                <a href="#tab3" data-toggle="tab">
                  <div class="fa-box">
                    <i class="fa flaticon-vehicle3 "></i>
                  </div>
                  <div class="fa-content">
                    <h4>Leading Auto Specialist</h4>
                    <p>
                      Nunc placerat pharetra lorem. Donec lorem metus lobortis
                      omag sed ipsum lacinia.
                    </p>
                  </div>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-md-7">
          <!-- tab content -->
          <div class="tab-content">
            <div class="tab-pane active text-style" id="tab1">
              <h2 class="light-font">Why Choose us?</h2>
              <h1>FOR MANY REASONS</h1>
              <p>
                Mauris a nunc occideritis me rectum. Videtur quod Ive
                facillimum, qui fecit vos. Potes me interficere, sine testibus
                et tunc manere in pauci weeks vel mensis vestigia Isai Pinkman
                et vos quoque illum occidere. Exercitium inutili option A.
                Videtur mihi quod autem est. Pergo coctione, et ego, et tu
                oblivisci Pinkman. Obliviscendum hoc unquam factum. Intelligamus
                hoc in sola SINGULTO multo aliter atque fructuosa negotium
                structura. Malo B. Option.
              </p>
              <a class="btn btn-primary btn-lg btn-icon-right"
                >WHAT CLIENTS SAID
                <div class="btn-icon">
                  <i class="fa fa-long-arrow-right"></i>
                </div>
              </a>
            </div>
            <div class="tab-pane text-style" id="tab2">
              <h2 class="light-font">Why Choose us?</h2>
              <h1>FOR MANY REASONS</h1>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum.
              </p>
              <a class="btn btn-primary btn-lg btn-icon-right"
                >WHAT CLIENTS SAID
                <div class="btn-icon">
                  <i class="fa fa-long-arrow-right"></i>
                </div>
              </a>
            </div>
            <div class="tab-pane text-style" id="tab3">
              <h2 class="light-font">Why Choose us?</h2>
              <h1>FOR MANY REASONS</h1>
              <p>
                Locutus est tibi? Respondeo dicendum esset iustus? Quæ? Quem
                populum? Mensis abhinc Gus occidere vellet uterque. Et nunc,
                utatur LAB et trahit vos de ... quae ... a socio gunman? A lenta
                guy? Numquid aliquo tibi Et dicit quod videt te. Qualis est is
                lascivio venatus. Putat quod surdus es? Non potest vere putes
                quod oblito ... nedum Gale, nedum Victoris ... quod pertinet ad
                omne nefas et qui.
              </p>
              <p>
                Suus satis. Quod etiam optime. Vos ite post eum, fistulae,
                nunquam vivum exire ab ea. Sed cum hoc ... excidit tibi in cibo
                aut in potu, aut: olefac Elegantioris non sit ... triginta sex
                horae post ... Poof. Vir aetatis operantes, dura sicut facit ...
                nemo mirabatur. Mike suspectas habere possunt, sed quod omnes
                illi eris. Obsecro, unum homicidam maniaco tempore.
              </p>
              <a class="btn btn-primary btn-lg btn-icon-right"
                >WHAT CLIENTS SAID
                <div class="btn-icon">
                  <i class="fa fa-long-arrow-right"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <header class="section-header animated " data-animation="fadeInUp">
          <div class="icon-line"><i class="fa flaticon-wrench44 "></i></div>
          <div class="heading-wrap">
            <h2 class="heading"><span>OUR SERVICES</span></h2>
          </div>
        </header>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <p class="text-center animated " data-animation="fadeInUp">
          Pharetra libero non facilisis imperdiet, mi augue feugiat nisl sit
          amet mollis enim velit Vestibulum fringilla nulla ultricies sem.
          Maecenas ultrices faucibus felis. Sed nec arcu. Fusce ut felis.
          Maecenas et aenean mollis. Sed in felis quis
        </p>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  <hr class=" separator_20" />
  <section class="carousel animated " data-animation="fadeInUp">
    <ul
      class="carousel-1 bxslider"
      data-max-slides="3"
      data-min-slides="1"
      data-width-slides="370"
      data-margin-slides="10"
      data-auto-slides="true"
      data-move-slides="3"
      data-infinite-slides="false"
    >
      <li>
        <div class="media">
          <a href="#"
            ><img src="../../../assets/media/370x420/1.jpg" alt="alt"
          /></a>
        </div>
        <div class="carousel-item-content">
          <a href="#" class="carousel-title">Suspension Repair </a>
          <div class="carousel-text">
            <p>
              Nunc placerat phareta lorem onec benean porttitor lectus sit sed
              amet quisque semper sed ipsum
            </p>
            <a class="btn btn-primary btn-lg btn-icon-right"
              >OFFER DETAILS
              <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <a href="#"
            ><img src="../../../assets/media/370x420/2.jpg" alt="alt"
          /></a>
        </div>
        <div class="carousel-item-content">
          <a href="#" class="carousel-title">Engine Overhaul </a>
          <div class="carousel-text">
            <p>
              Nunc placerat phareta lorem onec benean porttitor lectus sit sed
              amet quisque semper sed ipsum
            </p>
            <a class="btn btn-primary btn-lg btn-icon-right"
              >OFFER DETAILS
              <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <a href="#"
            ><img src="../../../assets/media/370x420/3.jpg" alt="alt"
          /></a>
        </div>
        <div class="carousel-item-content">
          <a href="#" class="carousel-title">Wheel Alignment </a>
          <div class="carousel-text">
            <p>
              Nunc placerat phareta lorem onec benean porttitor lectus sit sed
              amet quisque semper sed ipsum
            </p>
            <a class="btn btn-primary btn-lg btn-icon-right"
              >OFFER DETAILS
              <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <a href="#"
            ><img src="../../../assets/media/370x420/4.jpg" alt="alt"
          /></a>
        </div>
        <div class="carousel-item-content">
          <a href="#" class="carousel-title">Suspension Repair </a>
          <div class="carousel-text">
            <p>
              Nunc placerat phareta lorem onec benean porttitor lectus sit sed
              amet quisque semper sed ipsum
            </p>
            <a class="btn btn-primary btn-lg btn-icon-right"
              >OFFER DETAILS
              <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <a href="#"
            ><img src="../../../assets/media/370x420/5.jpg" alt="alt"
          /></a>
        </div>
        <div class="carousel-item-content">
          <a href="#" class="carousel-title">Engine Overhaul </a>
          <div class="carousel-text">
            <p>
              Nunc placerat phareta lorem onec benean porttitor lectus sit sed
              amet quisque semper sed ipsum
            </p>
            <a class="btn btn-primary btn-lg btn-icon-right"
              >OFFER DETAILS
              <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <a href="#"
            ><img src="../../../assets/media/370x420/6.jpg" alt="alt"
          /></a>
        </div>
        <div class="carousel-item-content">
          <a href="#" class="carousel-title">Wheel Alignment </a>
          <div class="carousel-text">
            <p>
              Nunc placerat phareta lorem onec benean porttitor lectus sit sed
              amet quisque semper sed ipsum
            </p>
            <a class="btn btn-primary btn-lg btn-icon-right"
              >OFFER DETAILS
              <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </section>
</section>
<section class="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <header
          class="section-header section-simple animated "
          data-animation="fadeInUp"
        >
          <div class="icon-line">
            <h3>MORE OFFERS FROM US</h3>
          </div>
        </header>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <p class="text-center  animated " data-animation="fadeInUp">
          Pharetra libero non facilisis imperdiet, mi augue feugiat nisl sit
          amet mollis enim velit Vestibulum fringilla nulla ultricies sem.
          Maecenas ultrices faucibus felis. Sed nec arcu. Fusce ut felis.
          Maecenas et aenean mollis. Sed in felis quis
        </p>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  <hr class=" separator_20" />
  <section class="carousel animated " data-animation="fadeInUp">
    <ul
      class="carousel-2 bxslider"
      data-max-slides="4"
      data-min-slides="2"
      data-width-slides="270"
      data-margin-slides="10"
      data-auto-slides="true"
      data-move-slides="3"
      data-infinite-slides="false"
    >
      <li>
        <div class="media">
          <a href="#"
            ><img src="../../../assets/media/270x150/1.jpg" alt="alt"
          /></a>
        </div>
        <div class="carousel-item-content">
          <a href="#" class="carousel-title">Air Con Check </a>
          <div class="carousel-text">
            <p>
              Nunc placerat phareta lorem onec benean porttitor lectus sit sed
              amet quisque semper sed ipsum
            </p>
          </div>
          <div class="text-right">
            <a class="btn btn-primary btn-lg btn-icon-right btn-transparent">
              <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <a href="#"
            ><img src="../../../assets/media/270x150/2.jpg" alt="alt"
          /></a>
        </div>
        <div class="carousel-item-content">
          <a href="#" class="carousel-title">Exhaust Fitting </a>
          <div class="carousel-text">
            <p>
              Nunc placerat phareta lorem onec benean porttitor lectus sit sed
              amet quisque semper sed ipsum
            </p>
          </div>
          <div class="text-right">
            <a class="btn btn-primary btn-lg btn-icon-right btn-transparent">
              <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <a href="#"
            ><img src="../../../assets/media/270x150/3.jpg" alt="alt"
          /></a>
        </div>
        <div class="carousel-item-content">
          <a href="#" class="carousel-title">Brakes Check </a>
          <div class="carousel-text">
            <p>
              Nunc placerat phareta lorem onec benean porttitor lectus sit sed
              amet quisque semper sed ipsum
            </p>
          </div>
          <div class="text-right">
            <a class="btn btn-primary btn-lg btn-icon-right btn-transparent">
              <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <a href="#"
            ><img src="../../../assets/media/270x150/4.jpg" alt="alt"
          /></a>
        </div>
        <div class="carousel-item-content">
          <a href="#" class="carousel-title">Painting </a>
          <div class="carousel-text">
            <p>
              Nunc placerat phareta lorem onec benean porttitor lectus sit sed
              amet quisque semper sed ipsum
            </p>
          </div>
          <div class="text-right">
            <a class="btn btn-primary btn-lg btn-icon-right btn-transparent">
              <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <a href="#"
            ><img src="../../../assets/media/270x150/1.jpg" alt="alt"
          /></a>
        </div>
        <div class="carousel-item-content">
          <a href="#" class="carousel-title">Air Con Check </a>
          <div class="carousel-text">
            <p>
              Nunc placerat phareta lorem onec benean porttitor lectus sit sed
              amet quisque semper sed ipsum
            </p>
          </div>
          <div class="text-right">
            <a class="btn btn-primary btn-lg btn-icon-right btn-transparent">
              <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <a href="#"
            ><img src="../../../assets/media/270x150/2.jpg" alt="alt"
          /></a>
        </div>
        <div class="carousel-item-content">
          <a href="#" class="carousel-title">Exhaust Fitting </a>
          <div class="carousel-text">
            <p>
              Nunc placerat phareta lorem onec benean porttitor lectus sit sed
              amet quisque semper sed ipsum
            </p>
          </div>
          <div class="text-right">
            <a class="btn btn-primary btn-lg btn-icon-right btn-transparent">
              <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <a href="#"
            ><img src="../../../assets/media/270x150/3.jpg" alt="alt"
          /></a>
        </div>
        <div class="carousel-item-content">
          <a href="#" class="carousel-title">Brakes Check </a>
          <div class="carousel-text">
            <p>
              Nunc placerat phareta lorem onec benean porttitor lectus sit sed
              amet quisque semper sed ipsum
            </p>
          </div>
          <div class="text-right">
            <a class="btn btn-primary btn-lg btn-icon-right btn-transparent">
              <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <a href="#"
            ><img src="../../../assets/media/270x150/4.jpg" alt="alt"
          /></a>
        </div>
        <div class="carousel-item-content">
          <a href="#" class="carousel-title">Painting </a>
          <div class="carousel-text">
            <p>
              Nunc placerat phareta lorem onec benean porttitor lectus sit sed
              amet quisque semper sed ipsum
            </p>
          </div>
          <div class="text-right">
            <a class="btn btn-primary btn-lg btn-icon-right btn-transparent">
              <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <a href="#"
            ><img src="../../../assets/media/270x150/1.jpg" alt="alt"
          /></a>
        </div>
        <div class="carousel-item-content">
          <a href="#" class="carousel-title">Air Con Check </a>
          <div class="carousel-text">
            <p>
              Nunc placerat phareta lorem onec benean porttitor lectus sit sed
              amet quisque semper sed ipsum
            </p>
          </div>
          <div class="text-right">
            <a class="btn btn-primary btn-lg btn-icon-right btn-transparent">
              <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <a href="#"
            ><img src="../../../assets/media/270x150/2.jpg" alt="alt"
          /></a>
        </div>
        <div class="carousel-item-content">
          <a href="#" class="carousel-title">Exhaust Fitting </a>
          <div class="carousel-text">
            <p>
              Nunc placerat phareta lorem onec benean porttitor lectus sit sed
              amet quisque semper sed ipsum
            </p>
          </div>
          <div class="text-right">
            <a class="btn btn-primary btn-lg btn-icon-right btn-transparent">
              <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <a href="#"
            ><img src="../../../assets/media/270x150/3.jpg" alt="alt"
          /></a>
        </div>
        <div class="carousel-item-content">
          <a href="#" class="carousel-title">Brakes Check </a>
          <div class="carousel-text">
            <p>
              Nunc placerat phareta lorem onec benean porttitor lectus sit sed
              amet quisque semper sed ipsum
            </p>
          </div>
          <div class="text-right">
            <a class="btn btn-primary btn-lg btn-icon-right btn-transparent">
              <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <a href="#"
            ><img src="../../../assets/media/270x150/4.jpg" alt="alt"
          /></a>
        </div>
        <div class="carousel-item-content">
          <a href="#" class="carousel-title">Painting </a>
          <div class="carousel-text">
            <p>
              Nunc placerat phareta lorem onec benean porttitor lectus sit sed
              amet quisque semper sed ipsum
            </p>
          </div>
          <div class="text-right">
            <a class="btn btn-primary btn-lg btn-icon-right btn-transparent">
              <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <a href="#"
            ><img src="../../../assets/media/270x150/1.jpg" alt="alt"
          /></a>
        </div>
        <div class="carousel-item-content">
          <a href="#" class="carousel-title">Air Con Check </a>
          <div class="carousel-text">
            <p>
              Nunc placerat phareta lorem onec benean porttitor lectus sit sed
              amet quisque semper sed ipsum
            </p>
          </div>
          <div class="text-right">
            <a class="btn btn-primary btn-lg btn-icon-right btn-transparent">
              <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <a href="#"
            ><img src="../../../assets/media/270x150/2.jpg" alt="alt"
          /></a>
        </div>
        <div class="carousel-item-content">
          <a href="#" class="carousel-title">Exhaust Fitting </a>
          <div class="carousel-text">
            <p>
              Nunc placerat phareta lorem onec benean porttitor lectus sit sed
              amet quisque semper sed ipsum
            </p>
          </div>
          <div class="text-right">
            <a class="btn btn-primary btn-lg btn-icon-right btn-transparent">
              <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <a href="#"
            ><img src="../../../assets/media/270x150/3.jpg" alt="alt"
          /></a>
        </div>
        <div class="carousel-item-content">
          <a href="#" class="carousel-title">Brakes Check </a>
          <div class="carousel-text">
            <p>
              Nunc placerat phareta lorem onec benean porttitor lectus sit sed
              amet quisque semper sed ipsum
            </p>
          </div>
          <div class="text-right">
            <a class="btn btn-primary btn-lg btn-icon-right btn-transparent">
              <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <a href="#"
            ><img src="../../../assets/media/270x150/4.jpg" alt="alt"
          /></a>
        </div>
        <div class="carousel-item-content">
          <a href="#" class="carousel-title">Painting </a>
          <div class="carousel-text">
            <p>
              Nunc placerat phareta lorem onec benean porttitor lectus sit sed
              amet quisque semper sed ipsum
            </p>
          </div>
          <div class="text-right">
            <a class="btn btn-primary btn-lg btn-icon-right btn-transparent">
              <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </section>
</section>
<section class="home-section section-preset1 ">
  <div class="video-box">
    <div class="video-box-left  animated " data-animation="fadeInLeft">
      <div class="video-box-info">
        <h4 class="light-font">At AutoDoc, We Provide</h4>
        <h3>BEST SERVICES YOU CAN COUNT ON!</h3>
        <p>
          Integer ac lorem sit amet est rhoncus dapi bus. Donec congue pede eu
          lacus. Morbi elit nunc molestie at ultrices eu eleifend eu lorem. Ut
          dictum erat eu massa. Proin bibendum diam sed congue sagittis. Morbi
          eu quam id elit pulvinar elementum.
        </p>
        <ul>
          <li>Excellent Reviews From Customers</li>
          <li>We Provide New Offers Whole Year</li>
          <li>Expert Technicians</li>
          <li>Lifetime Guranteed Auto Work</li>
        </ul>
      </div>
    </div>
    <div class="video-box-right animated " data-animation="fadeInRight">
      <a class="video-popab" href="https://vimeo.com/88644449">
        <img
          width="800"
          height="580"
          alt="PROJECT DEVELOPMENT"
          src="../../../assets/media/home/2.jpg"
      /></a>
    </div>
  </div>
</section>
<section class="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <header class="section-header animated " data-animation="fadeInUp">
          <div class="icon-line"><i class="fa flaticon-web5 "></i></div>
          <div class="heading-wrap">
            <h2 class="heading"><span>NEWS & TESTIMONIALS</span></h2>
          </div>
        </header>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <section class="carousel ">
        <div class="col-md-8 animated " data-animation="fadeInLeft">
          <ul
            class="carousel-3 bxslider "
            data-max-slides="2"
            data-min-slides="1"
            data-width-slides="370"
            data-margin-slides="30"
          >
            <li>
              <div class="media">
                <a href="#"
                  ><img src="../../../assets/media/370x300/1.jpg" alt="alt"
                /></a>
              </div>
              <div class="carousel-item-content">
                <div class="meta">
                  <span class="meta-i">In: <a href="#">Auto Care</a></span
                  ><span class="meta-i"> On: <a href="#">Feb 10, 2015</a></span>
                </div>
                <a href="#" class="carousel-title"
                  >Ut tellus cum socis natoque
                </a>
                <div class="carousel-text">
                  <p>
                    Pharetra libero non facilisis imperdiet mi augue feugiat nis
                    sit amet mollis enim velit Vestibulum fringilla nulla
                    ultricies sem Maecenas ultrices faucibus felis.
                  </p>
                  <a class="btn btn-primary btn-lg btn-icon-right"
                    >READ MORE
                    <div class="btn-icon">
                      <i class="fa fa-long-arrow-right"></i>
                    </div>
                  </a>
                </div>
              </div>
            </li>
            <li>
              <div class="media">
                <a href="#"
                  ><img src="../../../assets/media/370x300/2.jpg" alt="alt"
                /></a>
              </div>
              <div class="carousel-item-content">
                <div class="meta">
                  <ul>
                    <li>In: <a href="#">Auto Care</a></li>
                    <li>On: <a href="#">Feb 10, 2015</a></li>
                  </ul>
                </div>
                <a href="#" class="carousel-title"
                  >Ut tellus cum socis natoque
                </a>
                <div class="carousel-text">
                  <p>
                    Pharetra libero non facilisis imperdiet mi augue feugiat nis
                    sit amet mollis enim velit Vestibulum fringilla nulla
                    ultricies sem Maecenas ultrices faucibus felis.
                  </p>
                  <a class="btn btn-primary btn-lg btn-icon-right"
                    >READ MORE
                    <div class="btn-icon">
                      <i class="fa fa-long-arrow-right"></i>
                    </div>
                  </a>
                </div>
              </div>
            </li>
            <li>
              <div class="media">
                <a href="#"
                  ><img src="../../../assets/media/370x300/1.jpg" alt="alt"
                /></a>
              </div>
              <div class="carousel-item-content">
                <div class="meta">
                  <span class="meta-i">In: <a href="#">Auto Care</a></span
                  ><span class="meta-i"> On: <a href="#">Feb 10, 2015</a></span>
                </div>
                <a href="#" class="carousel-title"
                  >Ut tellus cum socis natoque
                </a>
                <div class="carousel-text">
                  <p>
                    Pharetra libero non facilisis imperdiet mi augue feugiat nis
                    sit amet mollis enim velit Vestibulum fringilla nulla
                    ultricies sem Maecenas ultrices faucibus felis.
                  </p>
                  <a class="btn btn-primary btn-lg btn-icon-right"
                    >READ MORE
                    <div class="btn-icon">
                      <i class="fa fa-long-arrow-right"></i>
                    </div>
                  </a>
                </div>
              </div>
            </li>
            <li>
              <div class="media">
                <a href="#"
                  ><img src="../../../assets/media/370x300/2.jpg" alt="alt"
                /></a>
              </div>
              <div class="carousel-item-content">
                <div class="meta">
                  <span class="meta-i">In: <a href="#">Auto Care</a></span
                  ><span class="meta-i"> On: <a href="#">Feb 10, 2015</a></span>
                </div>
                <a href="#" class="carousel-title"
                  >Ut tellus cum socis natoque
                </a>
                <div class="carousel-text">
                  <p>
                    Pharetra libero non facilisis imperdiet mi augue feugiat nis
                    sit amet mollis enim velit Vestibulum fringilla nulla
                    ultricies sem Maecenas ultrices faucibus felis.
                  </p>
                  <a class="btn btn-primary btn-lg btn-icon-right"
                    >READ MORE
                    <div class="btn-icon">
                      <i class="fa fa-long-arrow-right"></i>
                    </div>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-4 animated " data-animation="fadeInRight">
          <div class="carousel-testi">
            <ul
              class="carousel-4 bxslider"
              data-max-slides="1"
              data-min-slides="1"
              data-width-slides="370"
              data-margin-slides="10"
              data-auto-slides="true"
              data-move-slides="1"
              data-infinite-slides="false"
            >
              <li>
                <div class="testi-box">
                  <div class="person-text">
                    <i class="icomoon-quote-left"></i>
                    <div class="testi-title">
                      <h4>Better Than The Best !!!</h4>
                      <div class="product-rating">
                        <i class="fa fa-star gold"></i>
                        <i class="fa fa-star gold"></i>
                        <i class="fa fa-star gold"></i>
                        <i class="fa fa-star gold"></i>
                        <i class="fa fa-star-o"></i>
                      </div>
                    </div>
                    <p>
                      Pharetra libero non facilisis imperdiet mi augue feugiat
                      nisl sit amet mollis enim velit Vestibulum fringilla nulla
                      ultricies sem. Maecenas ultrices faucibus felis.
                    </p>
                    <p>
                      Maecenas tincidunt. Proin porttitor lacus eget mi. Aenean
                      at mi. Mauris vulputate mi vitae lobortis. Pellentesque ac
                      ipsum vel massa imperdiet semper. In maurisd libero
                      interdum quis molestie.
                    </p>
                  </div>
                  <div class="person-info">
                    <div class="person-avatar">
                      <img
                        src="../../../assets/media/50x50/1.jpg"
                        width="50"
                        height="55"
                        alt="alt"
                      />
                    </div>
                    <div class="person-name">
                      <h5>LAURA WOOD</h5>
                      <p>Loyal Customer for 2 years</p>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="testi-box">
                  <div class="person-text">
                    <i class="icomoon-quote-left"></i>
                    <div class="testi-title">
                      <h4>Better Than The Best !!!</h4>
                      <div class="product-rating">
                        <i class="fa fa-star gold"></i>
                        <i class="fa fa-star gold"></i>
                        <i class="fa fa-star gold"></i>
                        <i class="fa fa-star gold"></i>
                        <i class="fa fa-star-o"></i>
                      </div>
                    </div>
                    <p>
                      Pharetra libero non facilisis imperdiet mi augue feugiat
                      nisl sit amet mollis enim velit Vestibulum fringilla nulla
                      ultricies sem. Maecenas ultrices faucibus felis.
                    </p>
                    <p>
                      Maecenas tincidunt. Proin porttitor lacus eget mi. Aenean
                      at mi. Mauris vulputate mi vitae lobortis. Pellentesque ac
                      ipsum vel massa imperdiet semper. In maurisd libero
                      interdum quis molestie.
                    </p>
                  </div>
                  <div class="person-info">
                    <div class="person-avatar">
                      <img
                        src="../../../assets/media/50x50/1.jpg"
                        width="50"
                        height="55"
                        alt="alt"
                      />
                    </div>
                    <div class="person-name">
                      <h5>LAURA WOOD</h5>
                      <p>Loyal Customer for 2 years</p>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="testi-box">
                  <div class="person-text">
                    <i class="icomoon-quote-left"></i>
                    <div class="testi-title">
                      <h4>Better Than The Best !!!</h4>
                      <div class="product-rating">
                        <i class="fa fa-star gold"></i>
                        <i class="fa fa-star gold"></i>
                        <i class="fa fa-star gold"></i>
                        <i class="fa fa-star gold"></i>
                        <i class="fa fa-star-o"></i>
                      </div>
                    </div>
                    <p>
                      Pharetra libero non facilisis imperdiet mi augue feugiat
                      nisl sit amet mollis enim velit Vestibulum fringilla nulla
                      ultricies sem. Maecenas ultrices faucibus felis.
                    </p>
                    <p>
                      Maecenas tincidunt. Proin porttitor lacus eget mi. Aenean
                      at mi. Mauris vulputate mi vitae lobortis. Pellentesque ac
                      ipsum vel massa imperdiet semper. In maurisd libero
                      interdum quis molestie.
                    </p>
                  </div>
                  <div class="person-info">
                    <div class="person-avatar">
                      <img
                        src="../../../assets/media/50x50/1.jpg"
                        width="50"
                        height="55"
                        alt="alt"
                      />
                    </div>
                    <div class="person-name">
                      <h5>LAURA WOOD</h5>
                      <p>Loyal Customer for 2 years</p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
<!-- <section
  id="charstart"
  class="no-bg-color-parallax parallax-black home-section "
>
  <ul class="bg-slideshow">
    <li>
      <div
        style="background-image:url(../../../assets/media/bg/7.jpg)"
        class="bg-slide"
      ></div>
    </li>
    <li>
      <div
        style="background-image:url(../../../assets/media/bg/4.jpg)"
        class="bg-slide"
      ></div>
    </li>
  </ul>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <script src="plugins/rendro-easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
          <div
            class="featured-item-simple-icon animated text-center"
            data-animation="fadeInUp"
          >
            <div class="ft-icons-simple">
              <i class="fa flaticon-wrench63"></i>
            </div>
            <span class="chart" data-percent="560">
              <span class="percent"></span>
            </span>
            <h6>VEHICLES SERVICED</h6>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
          <div
            class="featured-item-simple-icon animated text-center"
            data-animation="fadeInUp"
          >
            <div class="ft-icons-simple">
              <i class="fa flaticon-group12"></i>
            </div>
            <span class="chart" data-percent="1407">
              <span class="percent"></span>
            </span>
            <h6>HAPPY CUSTOMERS</h6>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
          <div
            class="featured-item-simple-icon animated text-center"
            data-animation="fadeInUp"
          >
            <div class="ft-icons-simple">
              <i class="fa flaticon-hardbound"></i>
            </div>
            <span class="chart" data-percent="3167">
              <span class="percent"></span>
            </span>
            <h6>REVIEWS DONE</h6>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
          <div
            class="featured-item-simple-icon animated text-center"
            data-animation="fadeInUp"
          >
            <div class="ft-icons-simple">
              <i class="fa flaticon-first30"></i>
            </div>
            <span class="chart" data-percent="2456">
              <span class="percent"></span>
            </span>
            <h6>PROBLEMS SOLVED</h6>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
          <div
            class="featured-item-simple-icon animated text-center"
            data-animation="fadeInUp"
          >
            <div class="ft-icons-simple">
              <i class="fa flaticon-wrench63"></i>
            </div>
            <span class="chart" data-percent="560">
              <span class="percent"></span>
            </span>
            <h6>VEHICLES SERVICED</h6>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
          <div
            class="featured-item-simple-icon animated text-center"
            data-animation="fadeInUp"
          >
            <div class="ft-icons-simple">
              <i class="fa flaticon-setting2"></i>
            </div>
            <span class="chart" data-percent="7576">
              <span class="percent"></span>
            </span>
            <h6>Diagnostic Problem</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <header class="section-header animated " data-animation="fadeInUp">
          <div class="icon-line"><i class="fa flaticon-repair15 "></i></div>
          <div class="heading-wrap">
            <h2 class="heading">
              <span>WE REPAIR & SERVICE THESE VEHICLES</span>
            </h2>
          </div>
        </header>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <p class="text-center animated " data-animation="fadeInUp">
          Pharetra libero non facilisis imperdiet, mi augue feugiat nisl sit
          amet mollis enim velit Vestibulum fringilla nulla ultricies sem.
          Maecenas ultrices faucibus felis. Sed nec arcu. Fusce ut felis.
          Maecenas et aenean mollis. Sed in felis quis
        </p>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div class="bg-simple animated " data-animation="fadeInUp">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-xs-12 col-sm-6 ">
          <div class="box-icon-and-button  box-border-left">
            <i class="fa auto16"></i>
            <h3>VANS & TRUCKS</h3>
            <div class="content-hover">
              <a class="btn btn-primary btn-lg btn-icon-right"
                >GET FREE CHECK
                <div class="btn-icon">
                  <i class="fa fa-long-arrow-right"></i>
                </div>
              </a>
              <div class="content-hover-i">
                <p>
                  Nunc placerat pharetra lorem dui cinia. Aenean porttitor
                  lectus sit sed amet quis ipsum dolor amet
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6 ">
          <div class="box-icon-and-button  box-border-left">
            <i class="fa auto13"></i>
            <h3>LUXURY CARS</h3>
            <div class="content-hover">
              <a class="btn btn-primary btn-lg btn-icon-right"
                >GET FREE CHECK
                <div class="btn-icon">
                  <i class="fa fa-long-arrow-right"></i>
                </div>
              </a>
              <div class="content-hover-i">
                <p>
                  Nunc placerat pharetra lorem dui cinia. Aenean porttitor
                  lectus sit sed amet quis ipsum dolor amet
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6 ">
          <div class="box-icon-and-button  box-border-left">
            <i class="fa auto14"></i>
            <h3>SPORTS CARS</h3>
            <div class="content-hover">
              <a class="btn btn-primary btn-lg btn-icon-right"
                >GET FREE CHECK
                <div class="btn-icon">
                  <i class="fa fa-long-arrow-right"></i>
                </div>
              </a>
              <div class="content-hover-i">
                <p>
                  Nunc placerat pharetra lorem dui cinia. Aenean porttitor
                  lectus sit sed amet quis ipsum dolor amet
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6 ">
          <div class="box-icon-and-button  box-border-left box-border-right">
            <i class="fa auto15"></i>
            <h3>VANS & TRUCKS</h3>
            <div class="content-hover">
              <a class="btn btn-primary btn-lg btn-icon-right"
                >GET FREE CHECK
                <div class="btn-icon">
                  <i class="fa fa-long-arrow-right"></i>
                </div>
              </a>
              <div class="content-hover-i">
                <p>
                  Nunc placerat pharetra lorem dui cinia. Aenean porttitor
                  lectus sit sed amet quis ipsum dolor amet
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <header
          class="section-header section-simple animated "
          data-animation="fadeInUp"
        >
          <div class="icon-line">
            <h3>ASSOCIATED WITH THESE BRANDS</h3>
          </div>
        </header>
      </div>
    </div>
  </div>
  <section class="carousel-brand animated " data-animation="fadeInUp">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul
            class="carousel-5 bxslider"
            data-max-slides="4"
            data-min-slides="2"
            data-width-slides="270"
            data-margin-slides="10"
            data-auto-slides="true"
            data-move-slides="1"
            data-infinite-slides="false"
          >
            <li>
              <img
                src="../../../assets/media/brand/1.jpg"
                width="220"
                height="66"
                alt=""
              />
            </li>
            <li>
              <img
                src="../../../assets/media/brand/2.jpg"
                width="220"
                height="66"
                alt=""
              />
            </li>
            <li>
              <img
                src="../../../assets/media/brand/1.jpg"
                width="220"
                height="66"
                alt=""
              />
            </li>
            <li>
              <img
                src="../../../assets/media/brand/2.jpg"
                width="220"
                height="66"
                alt=""
              />
            </li>
            <li>
              <img
                src="../../../assets/media/brand/1.jpg"
                width="220"
                height="66"
                alt=""
              />
            </li>
            <li>
              <img
                src="../../../assets/media/brand/2.jpg"
                width="220"
                height="66"
                alt=""
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</section>
<section class="home-section section-preset2 ">
  <div class="full-width-box">
    <div class="row">
      <div class="col-md-6">
        <div class="full-width-left animated " data-animation="fadeInLeft">
          <img
            class="responsive-img"
            width="800"
            height="580"
            src="../../../assets/media/home/1.jpg"
            alt="alt"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="full-width-right animated " data-animation="fadeInRight">
          <app-contact-form></app-contact-form>

          <!--Contact form-->
          <script src="../../../assets/plugins/contact/jqBootstrapValidation.js"></script>
          <script src="../../../assets/plugins/contact/contact_me.js"></script>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <header class="section-header animated " data-animation="fadeInUp">
          <div class="icon-line"><i class="fa flaticon-constructor2 "></i></div>
          <div class="heading-wrap">
            <h2 class="heading"><span>OUR EXPERTS TEAM</span></h2>
          </div>
        </header>
      </div>
    </div>
  </div>
  <section class="carousel carousel-team animated " data-animation="fadeInUp">
    <ul
      class="carousel-6 bxslider"
      data-max-slides="4"
      data-min-slides="2"
      data-width-slides="270"
      data-margin-slides="10"
      data-auto-slides="true"
      data-move-slides="3"
      data-infinite-slides="false"
    >
      <li>
        <div class="media">
          <a href="#"
            ><img src="../../../assets/media/team/1.jpg" alt="alt"
          /></a>
        </div>
        <div class="carousel-item-content">
          <a href="#" class="carousel-title">William Robinson </a>
          <div class="carousel-text">
            <p>AutoDoc Manager</p>
            <p>Mob: +1 (007) 3456</p>
            <a
              class="btn btn-primary  btn-icon-right"
              href="mailto:autodoc@gmail.com"
              >EMAIL
              <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <a href="#"
            ><img src="../../../assets/media/team/2.jpg" alt="alt"
          /></a>
        </div>
        <div class="carousel-item-content">
          <a href="#" class="carousel-title">Brett Connor </a>
          <div class="carousel-text">
            <p>Wheel Alignment Specialist</p>
            <p>Mob: +1 (007) 3456</p>
            <a
              class="btn btn-primary  btn-icon-right"
              href="mailto:autodoc@gmail.com"
              >EMAIL
              <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <a href="#"
            ><img src="../../../assets/media/team/3.jpg" alt="alt"
          /></a>
        </div>
        <div class="carousel-item-content">
          <a href="#" class="carousel-title">Alexander Jason </a>
          <div class="carousel-text">
            <p>Engine Specialist</p>
            <p>Mob: +1 (007) 3456</p>
            <a
              class="btn btn-primary  btn-icon-right"
              href="mailto:autodoc@gmail.com"
              >EMAIL
              <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <a href="#"
            ><img src="../../../assets/media/team/4.jpg" alt="alt"
          /></a>
        </div>
        <div class="carousel-item-content">
          <a href="#" class="carousel-title">Victoria Morgan </a>
          <div class="carousel-text">
            <p>Customer Support</p>
            <p>Mob: +1 (007) 3456</p>
            <a
              class="btn btn-primary  btn-icon-right"
              href="mailto:autodoc@gmail.com"
              >EMAIL
              <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <a href="#"
            ><img src="../../../assets/media/team/1.jpg" alt="alt"
          /></a>
        </div>
        <div class="carousel-item-content">
          <a href="#" class="carousel-title">William Robinson </a>
          <div class="carousel-text">
            <p>AutoDoc Manager</p>
            <p>Mob: +1 (007) 3456</p>
            <a
              class="btn btn-primary  btn-icon-right"
              href="mailto:autodoc@gmail.com"
              >EMAIL
              <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <a href="#"
            ><img src="../../../assets/media/team/2.jpg" alt="alt"
          /></a>
        </div>
        <div class="carousel-item-content">
          <a href="#" class="carousel-title">Brett Connor </a>
          <div class="carousel-text">
            <p>Wheel Alignment Specialist</p>
            <p>Mob: +1 (007) 3456</p>
            <a
              class="btn btn-primary  btn-icon-right"
              href="mailto:autodoc@gmail.com"
              >EMAIL
              <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <a href="#"
            ><img src="../../../assets/media/team/3.jpg" alt="alt"
          /></a>
        </div>
        <div class="carousel-item-content">
          <a href="#" class="carousel-title">Alexander Jason </a>
          <div class="carousel-text">
            <p>Engine Specialist</p>
            <p>Mob: +1 (007) 3456</p>
            <a
              class="btn btn-primary  btn-icon-right"
              href="mailto:autodoc@gmail.com"
              >EMAIL
              <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <a href="#"
            ><img src="../../../assets/media/team/4.jpg" alt="alt"
          /></a>
        </div>
        <div class="carousel-item-content">
          <a href="#" class="carousel-title">Victoria Morgan </a>
          <div class="carousel-text">
            <p>Customer Support</p>
            <p>Mob: +1 (007) 3456</p>
            <a
              class="btn btn-primary  btn-icon-right"
              href="mailto:autodoc@gmail.com"
              >EMAIL
              <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </section>
</section>
<app-newsletter></app-newsletter>
