<section class="no-bg-color-parallax parallax-black theme-section">
  <div
    class="bg-section"
    style="background-image: '../../../assets/media/1920xp910/1.jpg'"
  ></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <h3 class="aligncenter text-uppercase">OUR SERVICES</h3>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>
</section>
<div class="page-header">
  <div class="container">
    <ol class="breadcrumb">
      <li style="color: #d74516">Home</li>
      <li class="active">Services</li>
    </ol>
  </div>
</div>
<main class="section" id="main">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="light-font">Why Choose us?</h2>
        <h1>SERVICES OFFERED</h1>
        <p>
          Phasellus odio. Sed fermentum feugiat quam. Suuspendisse lorem. Morbi
          commodo vulputate lorem. Vestbum ac diam et eros auctor viverra.
          Integer adc lorem sit amet est rhoncus dapi bus. Donec congue pede lu
          lacus. Morbi elit nunc molestie ultricspendisse lorem. Morbi commodo
          vulputate lorem. Vestbum ac diam et eros auctor viverra. Integer adc
          lorem sit amet est rhoncus dapi bus. Donec congue pede lu lacus. Morbi
          elit nunc molestie ultrices eu eleifend eu lorem. Mauris quis dolor
          Nulla frins gilla interdum metus. Vivamus elementum auctor augue.
        </p>
        <p>
          Pellentesque ullamcorper pulvinar arcu. Suspendisse vitae sapien eu mi
          placerat tincidunt. Donec tincidunt laoreet diam. Etiam blandit mauris
          vel semper consectetuer neque fusce in augue at ipsum eleifend
          elementum.
        </p>
        <ul class="list-style-check">
          <li>Engineered to high standards</li>
          <li>Assured high quality and dependability</li>
          <li class="li-last">Tested under extreme conditions</li>
        </ul>
        <a class="btn btn-primary btn-lg btn-icon-right"
          >WHAT CLIENTS SAID
          <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
        </a>
      </div>
      <div class="col-md-4">
        <ul
          class="carousel-1 bxslider"
          data-max-slides="1"
          data-width-slides="370"
          data-margin-slides="10"
          data-auto-slides="true"
          data-move-slides="3"
          data-infinite-slides="false"
        >
          <li>
            <div class="media">
              <a href="#"
                ><img src="../../../assets/media/370x420/6.jpg" alt="alt"
              /></a>
            </div>
            <div class="carousel-item-content">
              <a href="#" class="carousel-title">Wheel Alignment </a>
              <div class="carousel-text">
                <p>
                  Nunc placerat phareta lorem onec benean porttitor lectus sit
                  sed amet quisque semper sed ipsum
                </p>
                <a class="btn btn-primary btn-lg btn-icon-right"
                  >OFFER DETAILS
                  <div class="btn-icon">
                    <i class="fa fa-long-arrow-right"></i>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li>
            <div class="media">
              <a href="#"
                ><img src="../../../assets/media/370x420/2.jpg" alt="alt"
              /></a>
            </div>
            <div class="carousel-item-content">
              <a href="#" class="carousel-title">Engine Overhaul </a>
              <div class="carousel-text">
                <p>
                  Nunc placerat phareta lorem onec benean porttitor lectus sit
                  sed amet quisque semper sed ipsum
                </p>
                <a class="btn btn-primary btn-lg btn-icon-right"
                  >OFFER DETAILS
                  <div class="btn-icon">
                    <i class="fa fa-long-arrow-right"></i>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li>
            <div class="media">
              <a href="#"
                ><img src="../../../assets/media/370x420/3.jpg" alt="alt"
              /></a>
            </div>
            <div class="carousel-item-content">
              <a href="#" class="carousel-title">Wheel Alignment </a>
              <div class="carousel-text">
                <p>
                  Nunc placerat phareta lorem onec benean porttitor lectus sit
                  sed amet quisque semper sed ipsum
                </p>
                <a class="btn btn-primary btn-lg btn-icon-right"
                  >OFFER DETAILS
                  <div class="btn-icon">
                    <i class="fa fa-long-arrow-right"></i>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li>
            <div class="media">
              <a href="#"
                ><img src="../../../assets/media/370x420/4.jpg" alt="alt"
              /></a>
            </div>
            <div class="carousel-item-content">
              <a href="#" class="carousel-title">Suspension Repair </a>
              <div class="carousel-text">
                <p>
                  Nunc placerat phareta lorem onec benean porttitor lectus sit
                  sed amet quisque semper sed ipsum
                </p>
                <a class="btn btn-primary btn-lg btn-icon-right"
                  >OFFER DETAILS
                  <div class="btn-icon">
                    <i class="fa fa-long-arrow-right"></i>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li>
            <div class="media">
              <a href="#"
                ><img
                  src="../../../assets/../../../assets/media/370x420/5.jpg"
                  alt="alt"
              /></a>
            </div>
            <div class="carousel-item-content">
              <a href="#" class="carousel-title">Engine Overhaul </a>
              <div class="carousel-text">
                <p>
                  Nunc placerat phareta lorem onec benean porttitor lectus sit
                  sed amet quisque semper sed ipsum
                </p>
                <a class="btn btn-primary btn-lg btn-icon-right"
                  >OFFER DETAILS
                  <div class="btn-icon">
                    <i class="fa fa-long-arrow-right"></i>
                  </div>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <header class="section-header animated " data-animation="fadeInUp">
          <div class="icon-line"><i class="fa flaticon-wrench44 "></i></div>
          <div class="heading-wrap">
            <h2 class="heading"><span>OUR SERVICES</span></h2>
          </div>
        </header>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 ">
        <section class="main-content" role="main">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 ">
              <article
                class="post post-grid format-image animated"
                data-animation="bounceInUp"
              >
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 ">
                    <div class="entry-media">
                      <div class="box-date">
                        <div class="box-date-transform">
                          <i class="fa fa-comment-o"></i> 10
                        </div>
                      </div>
                      <div class="entry-thumbnail img">
                        <a
                          class="prettyphoto"
                          href="https://vimeo.com/50108158"
                        >
                          <img
                            src="../../../assets/media/blog/video3.jpg"
                            alt="Our Servcie"
                        /></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 ">
                    <div class="entry-footer">
                      <div class="meta">
                        <span class="meta-i">In: <a href="#">Auto Care</a></span
                        ><span class="meta-i">
                          &nbsp; &nbsp; Comments <a href="#">: 30</a></span
                        >
                      </div>
                    </div>
                    <div class="entry-main">
                      <h3 class="entry-title">
                        <a href="post.html"
                          >Nullam edmu ipsum quis risus placerat</a
                        >
                      </h3>
                      <div class="entry-content">
                        <p>
                          Pharetra libero non facilisis imperdiet mi augue
                          feugiat nis sit amet mollis enim velit Vestibulum
                          fringilla nulla ultricies sem Maecenas ultrices
                          faucibus felis.
                        </p>
                      </div>
                      <div class="grid-post-button">
                        <a class="btn btn-primary  btn-icon-right"
                          >READ MORE
                          <div class="btn-icon">
                            <i class="fa fa-long-arrow-right"></i>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 ">
              <article
                class="post post-grid format-image animated"
                data-animation="bounceInUp"
              >
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 ">
                    <div class="entry-media">
                      <div class="box-date">
                        <div class="box-date-transform">
                          <i class="fa fa-comment-o"></i> 10
                        </div>
                      </div>
                      <div class="entry-thumbnail img">
                        <a
                          class="prettyphoto"
                          href="https://vimeo.com/50108158"
                        >
                          <img
                            src="../../../assets/media/blog/video2.jpg"
                            alt="Our Servcie"
                        /></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 ">
                    <div class="entry-footer">
                      <div class="meta">
                        <span class="meta-i">In: <a href="#">Auto Care</a></span
                        ><span class="meta-i">
                          &nbsp; &nbsp; Comments <a href="#">: 30</a></span
                        >
                      </div>
                    </div>
                    <div class="entry-main">
                      <h3 class="entry-title">
                        <a href="post.html"
                          >Nullam edmu ipsum quis risus placerat</a
                        >
                      </h3>
                      <div class="entry-content">
                        <p>
                          Pharetra libero non facilisis imperdiet mi augue
                          feugiat nis sit amet mollis enim velit Vestibulum
                          fringilla nulla ultricies sem Maecenas ultrices
                          faucibus felis.
                        </p>
                      </div>
                      <div class="grid-post-button">
                        <a class="btn btn-primary  btn-icon-right"
                          >READ MORE
                          <div class="btn-icon">
                            <i class="fa fa-long-arrow-right"></i>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 ">
              <article
                class="post post-grid format-image animated"
                data-animation="bounceInUp"
              >
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 ">
                    <div class="entry-media">
                      <div class="box-date">
                        <div class="box-date-transform">
                          <i class="fa fa-comment-o"></i> 10
                        </div>
                      </div>
                      <div class="entry-thumbnail img">
                        <a
                          class="prettyphoto"
                          href="https://vimeo.com/50108158"
                        >
                          <img
                            src="../../../assets/media/blog/video3.jpg"
                            alt="Our Servcie"
                        /></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 ">
                    <div class="entry-footer">
                      <div class="meta">
                        <span class="meta-i">In: <a href="#">Auto Care</a></span
                        ><span class="meta-i">
                          &nbsp; &nbsp; Comments <a href="#">: 30</a></span
                        >
                      </div>
                    </div>
                    <div class="entry-main">
                      <h3 class="entry-title">
                        <a href="post.html"
                          >Nullam edmu ipsum quis risus placerat</a
                        >
                      </h3>
                      <div class="entry-content">
                        <p>
                          Pharetra libero non facilisis imperdiet mi augue
                          feugiat nis sit amet mollis enim velit Vestibulum
                          fringilla nulla ultricies sem Maecenas ultrices
                          faucibus felis.
                        </p>
                      </div>
                      <div class="grid-post-button">
                        <a class="btn btn-primary  btn-icon-right"
                          >READ MORE
                          <div class="btn-icon">
                            <i class="fa fa-long-arrow-right"></i>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 ">
              <article
                class="post post-grid format-image animated"
                data-animation="bounceInUp"
              >
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 ">
                    <div class="entry-media">
                      <div class="box-date">
                        <div class="box-date-transform">
                          <i class="fa fa-comment-o"></i> 10
                        </div>
                      </div>
                      <div class="entry-thumbnail img">
                        <a
                          class="prettyphoto"
                          href="https://vimeo.com/50108158"
                        >
                          <img
                            src="../../../assets/media/blog/video4.jpg"
                            alt="Our Servcie"
                        /></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 ">
                    <div class="entry-footer">
                      <div class="meta">
                        <span class="meta-i">In: <a href="#">Auto Care</a></span
                        ><span class="meta-i">
                          &nbsp; &nbsp; Comments <a href="#">: 30</a></span
                        >
                      </div>
                    </div>
                    <div class="entry-main">
                      <h3 class="entry-title">
                        <a href="post.html"
                          >Nullam edmu ipsum quis risus placerat</a
                        >
                      </h3>
                      <div class="entry-content">
                        <p>
                          Pharetra libero non facilisis imperdiet mi augue
                          feugiat nis sit amet mollis enim velit Vestibulum
                          fringilla nulla ultricies sem Maecenas ultrices
                          faucibus felis.
                        </p>
                      </div>
                      <div class="grid-post-button">
                        <a class="btn btn-primary  btn-icon-right"
                          >READ MORE
                          <div class="btn-icon">
                            <i class="fa fa-long-arrow-right"></i>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 ">
              <article
                class="post post-grid format-image animated"
                data-animation="bounceInUp"
              >
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 ">
                    <div class="entry-media">
                      <div class="box-date">
                        <div class="box-date-transform">
                          <i class="fa fa-comment-o"></i> 10
                        </div>
                      </div>
                      <div class="entry-thumbnail img">
                        <a
                          class="prettyphoto"
                          href="https://vimeo.com/50108158"
                        >
                          <img
                            src="../../../assets/media/blog/video5.jpg"
                            alt="Our Servcie"
                        /></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 ">
                    <div class="entry-footer">
                      <div class="meta">
                        <span class="meta-i">In: <a href="#">Auto Care</a></span
                        ><span class="meta-i">
                          &nbsp; &nbsp; Comments <a href="#">: 30</a></span
                        >
                      </div>
                    </div>
                    <div class="entry-main">
                      <h3 class="entry-title">
                        <a href="post.html"
                          >Nullam edmu ipsum quis risus placerat</a
                        >
                      </h3>
                      <div class="entry-content">
                        <p>
                          Pharetra libero non facilisis imperdiet mi augue
                          feugiat nis sit amet mollis enim velit Vestibulum
                          fringilla nulla ultricies sem Maecenas ultrices
                          faucibus felis.
                        </p>
                      </div>
                      <div class="grid-post-button">
                        <a class="btn btn-primary  btn-icon-right"
                          >READ MORE
                          <div class="btn-icon">
                            <i class="fa fa-long-arrow-right"></i>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 ">
              <article
                class="post post-grid format-image animated"
                data-animation="bounceInUp"
              >
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 ">
                    <div class="entry-media">
                      <div class="box-date">
                        <div class="box-date-transform">
                          <i class="fa fa-comment-o"></i> 10
                        </div>
                      </div>
                      <div class="entry-thumbnail img">
                        <a
                          class="prettyphoto"
                          href="https://vimeo.com/50108158"
                        >
                          <img
                            src="../../../assets/media/blog/video2.jpg"
                            alt="Our Servcie"
                        /></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 ">
                    <div class="entry-footer">
                      <div class="meta">
                        <span class="meta-i">In: <a href="#">Auto Care</a></span
                        ><span class="meta-i">
                          &nbsp; &nbsp; Comments <a href="#">: 30</a></span
                        >
                      </div>
                    </div>
                    <div class="entry-main">
                      <h3 class="entry-title">
                        <a href="post.html"
                          >Nullam edmu ipsum quis risus placerat</a
                        >
                      </h3>
                      <div class="entry-content">
                        <p>
                          Pharetra libero non facilisis imperdiet mi augue
                          feugiat nis sit amet mollis enim velit Vestibulum
                          fringilla nulla ultricies sem Maecenas ultrices
                          faucibus felis.
                        </p>
                      </div>
                      <div class="grid-post-button">
                        <a class="btn btn-primary  btn-icon-right"
                          >READ MORE
                          <div class="btn-icon">
                            <i class="fa fa-long-arrow-right"></i>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <!-- <nav class="pagination-wrap">
            <ul class="pagination">
              <li><a class="btn btn-prev" href="#"> Previous </a></li>
              <li class="active">
                <a href="#" class="btn btn-primary"><span>1</span></a>
              </li>
              <li><a href="#" class="btn btn-default">2</a></li>
              <li><a href="#" class="btn btn-default">3</a></li>
              <li><a href="#" class="btn btn-default">4</a></li>
              <li><a href="#" class="btn btn-default">5</a></li>
              <li><a class="btn btn-next" href="#"> Next</a></li>
            </ul>
          </nav> -->
        </section>
      </div>
    </div>
  </div>
</main>
<app-newsletter></app-newsletter>>
